body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.gallery-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-image {
    width: 100%;
    max-height: 625px; 
    display: none;
    object-fit: cover;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

.gallery-image.active {
    display: block;
    opacity: 1;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    outline: none;
    z-index: 1;
    border-radius: 50%;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:focus {
    outline: 2px solid #fff;
}
